<h1>My lists</h1>

<div class="list-container">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="list-card" style="<%= list.photo.present? ? list_card_background_style(list) : '' %>">
        <h2><%= list.name %></h2>
      </div>
    <% end %>
  <% end %>
</div>
