<h1>My lists</h1>

<div class="list-container">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
        <h2><%= list.name %></h2>
      </div>
    <% end %>
  <% end %>
</div>
